*.py[cod]
__pycache__

# Temp files
.*.sw[po]
*~
*.bak
.DS_Store

# C extensions
*.so

# Build and package files
*.egg
*.egg-info
.bootstrap
.build
.cache
.eggs
.env
.installed.cfg
.ve
bin
build
develop-eggs
dist
eggs
lib
lib64
parts
pip-wheel-metadata/
pyvenv*/
sdist
var
venv*/
wheelhouse

# Installer logs
pip-log.txt

# Unit test / coverage reports
.benchmarks
.coverage
.coverage.*
.pytest
.pytest_cache/
.tox
coverage.xml
htmlcov
junit
nosetests.xml

# Translations
*.mo

# Buildout
.mr.developer.cfg

# IDE and project files
*.iml
*.komodoproject
.idea
.mypy_cache/
.project
.pydevproject
.ruff_cache/
.venv
.vscode
docs
output/*.html
output/*/index.html
